@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

:root {
  --color-primary: #a0ac83;
  --color-primary-dark: #b6ba96;
  --color-accent: #9ea475;
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87;
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #d9e368, #8B5CF6);
}

body.dark-theme {
  --color-card: #516382;
  --color-input: #141B2D;
  --color-text: #F3F4F6;
  --color-placeholder: #A3B6DC;
  --color-border: #334155;

  background: var(--color-input);
  background-image: radial-gradient(circle at 15% 50%, rgba(99, 102, 241, 0.15) 0%, transparent 35%), radial-gradient(circle at 85% 30%, rgba(139, 92, 246, 0.15) 0%, transparent 35%), radial-gradient(circle at 50% 80%, rgba(99, 102, 241, 0.1) 0%, transparent 40%);
}

body{
    display:flex;
    min-height:100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#E9E9FF,#C8C7FF);
    color:var(--color-text);
    margin-left: 5px;
    margin-right: 5px;
    
}

.container{
    width: 900px;
    padding: 39px;
    border-radius: 23px;
    background: var(--color-card);
    position:relative;
    overflow: hidden;

    box-shadow: 0 10px 20px 0 rgba(0,0,0,0);
}
 
.container::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 5px;
    background: var(--color-gradient);
}

.header{
    display:flex;
    align-items:center;
    justify-content: space-between;

}

.header .logo-wrapper{
    display: flex;
    gap:18px;
    align-items:center;

}

.header .logo-wrapper .logo{
    height:55px;
    width:55px;
    display:flex;
    color: #fff;
    font-size: 1.35rem;
    border-radius: 15px;
    align-items:center;
    justify-content: center;
    flex-shrink:0;
    background: var(--color-gradient)

}

h1{
    font-size: 1.9rem;
    font-weight: 700;
}

.theme-toggle {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    cursor:pointer;
    transition: all 0.3s ease;
}

.theme-toggle:hover{
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

.main-content{
    margin: 35px 0 5px;
}

.prompt-container{
    width:100%;
    margin-bottom: 20px;
    position:relative;
}

.prompt-input{
    width: 100%;
    line-height: 1.6;
    font-size: 1.05rem;
    border: 1px solid var(--color-border);
    background: var(--color-input);
    border-radius: 15px;
    padding:16px 20px;
    transition: all 0.3s ease;
}

.prompt-input:focus{
    outline:none;
    border-color: var(--color-accent);
}

.prompt-btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width:35px;
    background: var(--color-gradient);
    opacity: 0.8;
    border-radius: 50%;
}

.prompt-btn:hover{
    opacity:1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

.prompt-actions{
    display:grid;
    gap:14px;
    grid-template-columns: 1.2fr 1fr 1.1fr 1fr;
}


.prompt-actions :where(.custom-select, .generate-btn){
    cursor:pointer;
    padding: 12px 20px;
    background: var(--color-border);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    font-size:1rem;
    transition: all 0.3s ease;

}
.custom-select:hover{
    border-color: var(--color-accent);
    box-shadow:0 0 0 3px rgba(139,92,246,0.1)
}
.generate-btn{
    display: flex;
    gap: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    border:none;
    color:#fff;
    background: var(--color-gradient);
}

.generate-btn:hover {
    transform: translateY(-2px);

}

.gallery-grid{
    display:grid;
    gap:15px;
    margin-top:30px;
    grid-template-columns: repeat(auto-fill, minmax(180px,
    1fr));
}

.img-card{
    position:relative;
    overflow:hidden;
    background: var(--color-input);
    border-radius: 16px;
    aspect-ratio:1;
}

img{
    width:100%;
    height:100%

}

.img-overlay{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
}

.img-download-btn{
    cursor:pointer;
    color:#fff;
    background: rgba(255,255,255,0.25)
}